{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to the sushi shop</p>
        </div>
    </div>
</header>
 
<div class = " container">
    <div class = "row">
        <center>
            <div class = " col-8">
                <br/><br/>
                Hello
               <p>The cost of college is rising even faster than inflation in the U.S. Many students around the world face financial constraints when it comes to attending college. Because education is such a vital part of life, there are many reasons why college should be free.

Not only do the arguments for debt-free education include personal benefits, but they also show how education helps to positively impact society overall.

Thankfully, the progression in technology is making it possible to increase access to education globally.

However, there is still a long way to go and more schools and countries are weighing the pros and cons of offering an affordable education. The ability to provide free education for all is becoming more of a possibility as time progresses.

</p> 
<br/><br/>
                
            </div>
        </center>

    </div>
</div>



{% endblock %}